*{
    font-family: 'Montserrat', sans-serif;   
}

body{
    background-color: burlywood;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'open sans', sans-serif;
}

.main{
    
    max-width: 500;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 30px;
    padding: 10px;
    background-color: #000000d0;
    color: white;
    
}
.name_display{
    display: flex;
    justify-content: center;
}
.temp{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
}
.tempminmax{
    display: flex;
    justify-content: space-between;
    
    
}

.search_bar{
   display: flex;
   padding-top: 20px;
   padding-left: 10px;
}
button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    background-color: #000000d0;
    opacity: 0.8;
    margin-top: 8px;
    transition-duration: 0.5s;
}
button:hover{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
input{
    height: 45px;
    width: 300px;
    font-size: 13px;
    border:1px solid gray;
    border-radius: 18px;
    margin-right: 10px;
    padding:0px 12px;
    background-color: #2726263b;
    color: white;
    
    transition-duration: 0.5s;
}
input:hover{
    font-size: 15px;
    box-shadow: 1.5px 1.5px 8px grey;

}
.main_cont{
    padding-bottom: 20px;
    padding-left: 30px;
}
.rest{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 8px;
    margin-left: 10px;
    font-size: 13px;
}
p{
    margin-bottom: 4px;
}
.dummy_text.loading{
    visibility:hidden;
    max-height: 20px;
    position: relative;
    transition-duration: 1s;
}
.dummy_text.loading::after{
    visibility: visible;
    position: absolute;
    
}
.min_temp{
margin-right: 20px;
}
.max_temp{
    margin-right: 20px;
}